<ion-view style="background-color: rgb(245, 245, 245);" id="page13" title="Forget Password">
    <ion-content padding="true" class="has-header" ng-controller="forgetCtrl"
     style="background: url(img/splash.png)no-repeat center;background-size:cover;" >
    <form  name="forgetform" class="list" id="forget-form1" ng-submit="" class="list" 
            method="post" novalidate>
            <div id="forgetform-card22" class="list card">
                  <ion-item style="" id="forgetform-list-item9" class="item-icon-left">            
                        <i class="icon ion-android-arrow-dropdown-circle"></i> Forget Password</ion-item></div>

                   
                        <input placeholder="Enter Email address to change Your Password" type="text" class="item item-input item-wrap" style="width:100%" name="email" 
                        ng-model="email" >

                         <button class="button button-stable  button-block button-small" style="width:100%;font-size:12px; background-color:#F68120; box-shadow:0px 0px 2px rgba(0,0,0,.5); border:none;color:#fff;padding:5px;" id="login-button3" ng-click="send()" >Send Email</button></form></ion-content></ion-view>
                   
                    