<script type="text/javascript" src="js/plugins/com.inscripts.cometchatsdk/www/Customui.js"></script>
    <script  type="text/javascript" src="js/plugins/com.inscripts.cometchatsdk/www/Readyui.js"></script>

<style type="text/css">
    .corner-ribbon-spotlight {
    width: 200px;
    background: #4cae4c;
    position: absolute;
    top: 25px;
    left: -55px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    color: black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    .corner-ribbon-featured {
    width: 200px;
    background:#46b8da;
    position: absolute;
    top: 25px;
    left: -55px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    color: black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    .corner-ribbon-urgent {
    width: 200px;
    background: #d43f39;
    position: absolute;
    top: 25px;
    left: -55px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    color: black;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    .add{
    width: 50%;
    float: left;
    padding: 0px 5px;
    }
    .but_add{
     width: 50%;
    float: left;
    padding: 0px 5px;
    }
    .list.card:last-child {
    margin-bottom: 0px;
    }
    .loading-container .loading {
    background-color: #FFE6DC;
    color: #4D301C;
    font-style:italic;
    font-size:19px;
    border-width: 1px !important;
    border-color: #FFE6DC !important;
    border-style: solid !important;
    }
    .btn{
    }
</style>
<ion-view style="background-color: rgb(255, 230, 220);" id="page16" title="Million Opportunities" >
    <ion-content class="has-header" padding="true" ng-controller="millionOpportunitiesCtrl">
        <div>
            <img style="display: block; margin-left: auto; margin-right: auto;" src="img/oltzLwG7QbivB73MkSJF_Home-MO3.png" height="auto" width="100%">
        </div>
        <div style="width: 287px; height: 31px;" class="spacer"></div>
        <div>
            <div style="width:100%;text-align:center;">
                <button style="width:70%;color:#FFFFFF;font-style:italic;font-size:15px; background-color:#F68120;  border-radius:100px 100px 100px 100px;padding:5px;" class="btn" ng-click="postad1()">POST ADVERTISEMENT</button>
            </div>
        </div>
        <div style="width: 287px; height: 24px;" class="spacer"></div>
          <div>
            <div  ng-repeat="x in category" class="but_add">
                <button style="width:100%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-right:14px; margin-bottom:14px;" class="btn" ng-click="filter(x)">{{x}}</button>
                <!-- <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-bottom:14px;" class="btn"ng-click="filter('Jobs')"> Jobs</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-right:14px; margin-bottom:14px;" class="btn"ng-click="filter('Goods & Services')">Goods & Services</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-bottom:14px;" class="btn"ng-click="filter('Properties')">Properties</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-right:14px; margin-bottom:14px;" class="btn"  ng-click="filter('Missing, Lost & Found')"> Missing, Lost & Found</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-bottom:14px;" class="btn"ng-click="filter('Motors')">Motors</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-right:14px; margin-bottom:14px;" class="btn" ng-click="filter('Magazines, chat, blog')">Magazines,chat,blog</button>
                <button style="width:47%;font-style:italic;font-size:15px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#4D301C;padding:5px; margin-bottom:14px;" class="btn" ng-click="filter('Others Deals')">Other Deals</button> -->
                <!-- <button style="width:47%;font-size:12px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#555;padding:5px; margin-right:14px; margin-bottom:14px;" class="btn">POST AN AD</button>
                    <button style="width:47%;font-size:12px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#555;padding:5px; margin-bottom:14px;" class="btn">POST AN AD</button>-->
            </div>
           </div>
        
        <div style=" width:100%; margin:10px; float:left; ">
            <span style=" margin-top:10px; float:left; " > Learn More </span>
            <button style="width:40%;color:#FFFFFF;float:right;font-style:italic;font-size:15px; background-color:#F68120;  border-radius:100px 100px 100px 100px;padding:5px;"  ui-sref="manageAds">Manage Ads</button>            
        </div>
    
        <div ng-repeat="x in details" class="add">
            <div class="list card" id="page3-card22" ">
                <div ui-sref="details({id:x.id})">
                    <div class=" item item-image">
                        <div class="corner-ribbon-urgent" ng-show="x.urgent !='' ">Important</div>
                        <div class="corner-ribbon-spotlight" ng-show="x.spolight !='' ">Flashlight</div>
                        <div class="corner-ribbon-featured" ng-show="x.featured !=''">Recommended</div>
                        <div style="height:150px">
                            <img src=http://europa.promaticstechnologies.com/million/uploads/{{x.images.replace('[','').replace('"','').replace('"','').replace(']','')}} style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="100%">
                        </div>
                    </div>
                    <div class="list card" id="page3-list-item-container1" style="">
                        <ion-item>{{x.ad_title}}</ion-item>
                        <!-- <i class="ion-pricetags"> {{x.category}}</i> -->
                        <ion-item>
                            {{x.description}}
                            <!-- <i class="ion-chatbubble-working color:#F68120;" style="width:33% color:#F68120;" ng-click="chat()"> Chat</i> -->
                        </ion-item>
                    </div >
                </div>
                <ion-item class="" id="page3-list-item12" style="">
                    <i class="icon ion-eye" style="width:33%"></i>{{x.views}}
                    <span ng-show="userlogin!='true'" style="margin-left:40px"> 
                    <i   class="icon ion-heart" style="width:33%" ></i>{{x.likes}}</span>
                    <span ng-show="x.like==null && userlogin=='true'" style="margin-left:40px"> 
                    <i   class="icon ion-heart" style="width:33%" ng-click="like(x.id)"></i>{{x.likes}}</span>
                    <span ng-show="x.like!=null && userlogin=='true'" style="margin-left:40px">
                    <i   class="icon ion-heart" style="width:33%;color:#F68120;" ng-click="unlike(x.like.id)"></i>{{x.likes}}</span>
                    <!-- <a style="margin-left:115px;" ng-href="#/page11/{{x.id}}">Read More >> </a>
                        -->
                </ion-item>
                <!-- <ion-item>
                    <i class="ion-chatbubble-working color:#F68120;" style="width:33% color:#F68120;" ng-click="chat()"> Chat</i>
                    </ion-item> -->
            </div>
        </div>
        <!-- <div style="width: 287px; height: 11px;" class="spacer"></div>
            <div>
                <div style="background-color:#eee; width:100%;">
            
            
                    <div style="background-color:#fff; border-radius:10px; width:47%;float:left; padding:10px;margin-right:15px;margin-bottom:15px;box-shadow:1px 1px 1px rgba(0,0,0,0.5);">
            
                        <p>2009 model Honda Bike</p>
                        <p>
                            <small>Lorem psum asasd</small>
                        </p>
                    </div>
            
                    <div style="background-color:#fff; border-radius:10px; width:47%;float:left; padding:10px;margin-bottom:15px;box-shadow:1px 1px 1px rgba(0,0,0,0.5);">
            
                        <p>2009 model Honda Bike</p>
                        <p>
                            <small>Lorem psum asasd</small>
                        </p>
                    </div>
            
            
            
                    <div style="background-color:#fff; border-radius:10px; width:47%;float:left; padding:10px;margin-right:15px;margin-bottom:15px;box-shadow:1px 1px 1px rgba(0,0,0,0.5);">
            
                        <p>2009 model Honda Bike</p>
                        <p>
                            <small>Lorem psum asasd</small>
                        </p>
                    </div>
            
                    <div style="background-color:#fff; border-radius:10px; width:47%;float:left; padding:10px;margin-bottom:15px;box-shadow:1px 1px 1px rgba(0,0,0,0.5);">
            
                        <p>2009 model Honda Bike</p>
                        <p>
                            <small>Lorem psum asasd</small>
                        </p>
                    </div>
            
            
                </div>
            </div>-->
    </ion-content>
</ion-view>

