<ion-view style="background-color: rgb(245, 245, 245);" id="page11" title="Details">
    <ion-content class="has-header" padding="true" ng-controller="detailsCtrl">
        <head>
            <style type="text/css">
   .icon4 {
   font-size: 30px;
}

</style>
        </head>
        <div> 
         <div class="list card" id="page3-card22">
           <div id="page3-null" style="margin-top:0px;color:#000000;">
                    <h5>{{detailsdata.ad_title}}
                    </h5>
                    <button style="width:47%;font-size:12px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#555;padding:5px; margin-right:10px;margin-left:4px; margin-bottom:14px;" class="icon ion-android-share-alt" ng-click="shareAnywhere(detailsdata.short_description,detailsdata.ad_title,detailsdata.images)"> Share </button>
                <span ng-show=" detailsdata.favourite==null && emailcheck!=null">
                <button style="width:47%;font-size:12px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#555;padding:5px; margin-bottom:14px;" class="icon ion-android-star-outline" ng-click="addfavorite(detailsdata.id)"> Add to favorite </button></span>
                <span ng-show="detailsdata.favourite!=null&& emailcheck!=null">
                <button style="width:47%;font-size:12px; background-color:#fff; box-shadow:0px 0px 1px rgba(0,0,0,.5); border:none;color:#555;padding:5px; margin-bottom:14px;" ng-click="removefavorite(detailsdata.favourite.id)"> <i class='icon ion-android-star-outline' style="color:#F68120" ></i> Add to favorite </button></span>
                </div>


          <div ng-show="detailsdata.images!='[]'">   
            <div class=" item item-image">  
           
                <img src=http://europa.promaticstechnologies.com/million/uploads/{{detailsdata.images.replace('[','').replace('"','').replace('"','').replace(']','')}} style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="auto">
            </div></div>
            <div ng-show="detailsdata.images=='[]'">
            <div class=" item item-image">  
           
                <img src="img/no-thumb.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="100%" height="auto">
            </div> </div>         
            <div class="item item-body" id="page3-list-item-container1">
                <div id="page3-null" style="margin-top:0px;;">
                    <h2>About Ad
                    </h2></hr>
                  <!--  <table><tr style="width:100%"><td style="width:33%;">Posted</td>  <td style="width:33%">Postal Code </td> <td style="width:33%">Seller Type</td></tr>
                            <tr style="width:100%"><td style="width:33%;padding-right:10px" >{{timedata}}</td><td style="width:33%">{{detailsdata.postal_code}}</td><td style="width:33%">{{detailsdata.seller_type}}</td></tr></table>-->


                            <table>
                                <tr style="width:100%"><td align="50%">Posted:{{timedata}}</td><td width="50%"> Postal Code:{{detailsdata.postal_code}}</td></tr>
                                <tr style="width:100%"><td align="left">Seller Type :{{detailsdata.seller_type}}</td></tr>
                            </table>
                            
            </div></div>
            <div class="item item-text-wrap item-left">Description : 
                            {{detailsdata.short_description}}</div>
             
                <div id="page3-null" style="margin-top:0px;" class="item item-text-wrap">
                   <div class="item item-icon-left"><i class="icon ion-man icon4"></i> Ad Posted By : {{detailsdata.user.username}}</div>

                    <a class="item item-icon-left" ng-href="tel:{{detailsdata.contact_no}}"><i class="icon ion-android-call"></i>Call Us:  {{detailsdata.contact_no}}  </a><br>






                  <a class="item item-icon-left " ng-click="sendMail(detailsdata.email_id)"><i class="icon ion-ios-email"></i>Email:  {{detailsdata.email_id}}</a><br>
                   

       <a class="item item-icon-left" ng-click="openInExternalBrowser('www.google.com/maps/place/'+detailsdata.address+', {{detailsdata.address}}')"> <i class="icon ion-android-map"></i>Address:  {{detailsdata.address}}</a><br>
                    <img src="http://maps.googleapis.com/maps/api/staticmap?center={{detailsdata.address}}&zoom=13&scale=false&size=400x200&maptype=roadmap&format=png&visual_refresh=true" width="100%" ng-click="openInExternalBrowser('www.google.com/maps/place/'+detailsdata.address+', {{detailsdata.address}}')" > 

                    <hr>
                    <span> Last posted: {{timedata}}</span></br><span>Ad ID: {{detailsdata.ad_id}}</span></br>
                   <span>Ad Views: {{detailsdata.views}}</span>
   
            </div></div>
        </div></div>
    </ion-content>
</ion-view>