<style>
.inpt-box{
	position: relative;
}
.inpt-box input{
	width: 100%;
	border:1px solid #ddd;
	border-left:none;
	padding-left:33px; 
}
.inpt-sign {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #000000;
  left: 1px;
  padding: 6px 9px;
  position: absolute;
  top: 0;
}
</style>

<ion-view style="background-color: rgb(245, 245, 245);" id="page13" title="PostAdd">
    <ion-content padding="true" class="has-header" ng-controller="postAddCtrl">

      
<form name="postaddform" class="list" id="postad-form1" method="post" novalidate>
            <label class="item item-select" id="page-select1">
                <span class="input-label">Category</span>
   <select  ng-model="category">
    
        <option value="Events">Events</option>
        <option value="Jobs">Jobs</option>
        <option value="Goods & Services">Goods & Services</option>
        <option value="Properties">Properties</option>
        <option value="Missing, Lost & Found">Missing, Lost & Found</option>
        <option value="Motors">Motors</option>
        <option value="Magazines, chat, blog">Magazines, chat, blog</option>
        <option value="Others Deals">Others Deals</option>

    </select>
            </label>
            <label class="item item-select" id="page-select2">
                <span class="input-label">Sub Category</span>
            <select  ng-model="subcategory" >
    
						<option ng-if="category=='Events'">Music and Entertainment </option>
						<option ng-if="category=='Events'">Religious </option>
						<option ng-if="category=='Events'">Sports</option>
						<option ng-if="category=='Events'">Educational </option>
						<option ng-if="category=='Events'">Political </option>
						<option ng-if="category=='Events'">Art and Culuture </option>
						<option ng-if="category=='Events'">Social </option>
						<option ng-if="category=='Events'">Others </option>


						<option ng-if="category=='Jobs'">Accountancy</option>
						<option ng-if="category=='Jobs'">Administration </option>
						<option ng-if="category=='Jobs'">Advertising </option>
						<option ng-if="category=='Jobs'">Aerospace/Aviation </option>
						<option ng-if="category=='Jobs'">Agriculture </option>
						<option ng-if="category=='Jobs'">Architecture </option>
						<option ng-if="category=='Jobs'">Art/Design/Graphics </option>
						<option ng-if="category=='Jobs'">Automotive </option>
						<option ng-if="category=='Jobs'">Banking </option>
						<option ng-if="category=='Jobs'">Biotechnology </option>
						<option ng-if="category=='Jobs'">Catering & Food services </option>
						<option ng-if="category=='Jobs'">Charity/Voluntary/Non-profit </option>
						<option ng-if="category=='Jobs'">Construction </option>
						<option ng-if="category=='Jobs'">Consultancy </option>
						<option ng-if="category=='Jobs'">Couselling </option>
						<option ng-if="category=='Jobs'">Customer service </option>
						<option ng-if="category=='Jobs'">Dental </option>
						<option ng-if="category=='Jobs'">Driving </option>
						<option ng-if="category=='Jobs'">Education </option>
						<option ng-if="category=='Jobs'">Electrical </option>
						<option ng-if="category=='Jobs'">Emergency </option>
						<option ng-if="category=='Jobs'">Engineering </option>
						<option ng-if="category=='Jobs'">Entertainment </option>
						<option ng-if="category=='Jobs'">Fashion </option>
						<option ng-if="category=='Jobs'">Financial </option>
						<option ng-if="category=='Jobs'">Graduate </option>
						<option ng-if="category=='Jobs'">Health and safety </option>
						<option ng-if="category=='Jobs'">Healthcare and medical </option>
						<option ng-if="category=='Jobs'">Home worker </option>
						<option ng-if="category=='Jobs'">Childcare </option>
						<option ng-if="category=='Jobs'">Hotel / hospitality </option>
						<option ng-if="category=='Jobs'">Human resources and employment</option>
						<option ng-if="category=='Jobs'">IT/Internet/Technical </option>
						<option ng-if="category=='Jobs'">Import Export </option>
						<option ng-if="category=='Jobs'">Industrial </option>
						<option ng-if="category=='Jobs'">Insuarance </option>
						<option ng-if="category=='Jobs'">Journalism </option>
						<option ng-if="category=='Jobs'">Legal </option>
						<option ng-if="category=='Jobs'">Leisure </option>
						<option ng-if="category=='Jobs'">Management & Executive </option>
						<option ng-if="category=='Jobs'">Manufacturing </option>
						<option ng-if="category=='Jobs'">Marketing & Public relations </option>
						<option ng-if="category=='Jobs'">Mechanical </option>
						<option ng-if="category=='Jobs'">Media/Creative/Digital </option>
						<option ng-if="category=='Jobs'">Nursing </option>
						<option ng-if="category=='Jobs'">Oil & Gas/Energy </option>
						<option ng-if="category=='Jobs'">Other </option>
						<option ng-if="category=='Jobs'">Packaging </option>
						<option ng-if="category=='Jobs'">Pharmaceutical </option>
						<option ng-if="category=='Jobs'">Photography </option>
						<option ng-if="category=='Jobs'">Printing </option>
						<option ng-if="category=='Jobs'">Property </option>
						<option ng-if="category=='Jobs'">Public sector </option>
						<option ng-if="category=='Jobs'">Publishing </option>
						<option ng-if="category=='Jobs'">Purchasing </option>
						<option ng-if="category=='Jobs'">Recruitment </option>
						<option ng-if="category=='Jobs'">Retail </option>
						<option ng-if="category=='Jobs'">Sales </option>
						<option ng-if="category=='Jobs'">Sciencetific </option>
						<option ng-if="category=='Jobs'">Secretarial & PA </option>
						<option ng-if="category=='Jobs'">Security </option>
						<option ng-if="category=='Jobs'">Social services </option>
						<option ng-if="category=='Jobs'">Teaching </option>
						<option ng-if="category=='Jobs'">Telecomms </option>
						<option ng-if="category=='Jobs'">Textiles </option>
						<option ng-if="category=='Jobs'">Trades-Skilled and unskilled </option>
						<option ng-if="category=='Jobs'">Transports &Logistics </option>
						<option ng-if="category=='Jobs'">Travel and tourism </option>
						<option ng-if="category=='Jobs'">Utilities and unstalation </option>
						<option ng-if="category=='Jobs'">Warehouse</option>
						<option ng-if="category=='Jobs'">Waste management </option>

						<option ng-if="category=='Goods & Services'">Fashion </option>
						<option ng-if="category=='Goods & Services'">Electronics </option>
						<option ng-if="category=='Goods & Services'">Health & Beauty </option>
						<option ng-if="category=='Goods & Services'">Food and beverages </option>
						<option ng-if="category=='Goods & Services'">Education </option>
						<option ng-if="category=='Goods & Services'">Childcare </option>
						<option ng-if="category=='Goods & Services'">Wedding </option>
						<option ng-if="category=='Goods & Services'">Repair </option>
						<option ng-if="category=='Goods & Services'">Business and management </option>
						<option ng-if="category=='Goods & Services'">Accounts </option>
						<option ng-if="category=='Goods & Services'">Legal services </option>
						<option ng-if="category=='Goods & Services'">Administration </option>
						<option ng-if="category=='Goods & Services'">Information technology </option>
						<option ng-if="category=='Goods & Services'">Entertainment</option>
						<option ng-if="category=='Goods & Services'">Supply of Goods & Services </option>
						<option ng-if="category=='Goods & Services'">Animals </option>
						<option ng-if="category=='Goods & Services'">Propery and maintainance </option>
						<option ng-if="category=='Goods & Services'">Trademen and construction </option>
						<option ng-if="category=='Goods & Services'">Transport and communication </option>
						<option ng-if="category=='Goods & Services'">Tourism </option>



						<option ng-if="category=='Properties'">For sale </option>
						<option ng-if="category=='Properties'">To Rent </option>
						<option ng-if="category=='Properties'">To Share </option>
						<option ng-if="category=='Properties'">To offer </option>
						<option ng-if="category=='Properties'">Houses /Apartments </option>
						<option ng-if="category=='Properties'">Homes </option>
						<option ng-if="category=='Properties'" >Students hostels</option>
						<option ng-if="category=='Properties'">Students hostels</option>
						<option ng-if="category=='Properties'">Students hostels</option>
						<option ng-if="category=='Properties'">Land / Plots </option>
						<option ng-if="category=='Properties'">Shops </option>
						<option ng-if="category=='Properties'">Events & Sales </option>
						<option ng-if="category=='Properties'">Others </option>


						<option ng-if="category=='Missing, Lost & Found'">Missing </option>
						<option ng-if="category=='Missing, Lost & Found'">Lost </option>
						<option ng-if="category=='Missing, Lost & Found'">Found </option>
						<option ng-if="category=='Missing, Lost & Found'">Others Dealss </option>

						<option ng-if="category=='Motors'" value="car">Car </option>
						<option ng-if="category=='Motors'" value="motorcycles">Motocycles </option>
						<option ng-if="category=='Motors'" value="vehicles">Vehicles </option>
						<option ng-if="category=='Motors'" value="car accessories and parts">Cars accessories and Parts </option>
						<option ng-if="category=='Motors'" value="garage">Garage </option>
						<option ng-if="category=='Motors'"  value="events and sales">Events and sales </option>
						<option ng-if="category=='Motors'" value="motor deals">Motor deals </option>



						<option ng-if="category=='Magazines, chat, blog'">Magazines, chat, blog </option>

                        <option ng-if="category=='Others Deals'">Others Deals </option>
         </select>    
 </label>
        

         
       <!-- <label>Address
		<textarea placeholder="Address" ng-model="address" style="border:1px solid #ddd; width:100%"></textarea>
		</label>-->

 <div class="list">
     <label id="postadd-input1" class="item item-input" ng-class="{ 'has-error' : postaddform.address.$invalid && !postaddform.address.$pristine }">Address :
     <textarea placeholder="Address" name="address" ng-model="address" style="border:1px solid #ddd; width:100%" required></textarea></label>
     <p ng-show="postaddform.address.$invalid && !postaddform.address.$pristine" ><font color="red"> Address is required.</font></p>
     


	<label id="postadd-input2" class="item item-input" ng-class="{ 'has-error' : postaddform.pincode.$invalid && !postaddform.pincode.$pristine }">Postal code :
	<input type="text" name="pincode" class="item item-input" ng-model="pincode" required> </label><p ng-show="postaddform.pincode.$invalid && !postaddform.pincode.$pristine" ><font color="red"> Postal code is required.</font></p> <p><font color="grey"> We won't show your postcode on the ad.</font></p>


		



     
		
			<!--<p style="width:100%; height:30px;;font-size:15px;text-align:left; background-color:#F68120;"><font color="white">Seller Type</font></p>-->
		
		 <label class="item item-input" style="text-align:left; background-color:#F68120;"><font color="white" size="3"> Seller Type : </font>

		<label> <input type="radio" value="trade" ng-model="radio"><font size="3"> Trade</label>
		<label>  <input type="radio" value="Seller" ng-model="radio"><font size="3">Private</label>
		</font></label>



	
				<p style="width:100%; height:30px;font-size:15px; background-color:#000000;"><font color="white" text-align="left">Add Posting </font></p>
			




				<!--<p  style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;"><font color="white">Vehicle Specification</font></p>
				<p >Enter the licence plate number: </p>
				<input  type="text" name="licence" ng-model="licence">
				<p >Enter the mileage:</p>
				<input  type="text" placeholder="eg:41000" value="mileage" ng-model="mileage" style="border:1px solid #ddd; width:100%">
				<input type="submit" value="Look up Details" ng-click="lookup()">
				<p >If you can't find your registration then <a href="">enter the details manually</a></p>
				<p  style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;"> <font color="white">Price for your vehicle?</font></p>
				<div class="inpt-box">
				<label>
				<span class="inpt-sign" >$</span>
				<input  type="number" ng-model="price">
				</label>
				</div>
				</div>-->

	<div ng-show="subcategory=='car'||subcategory=='motorcycles'||subcategory=='vehicles'">
			<p style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;"><font color="white">Vehicle Specification</font></p>
			<div>

			<!-- <label class="item item-input" style="text-align:left; background-color:#F68120;"><font color="white" size="3"> Seller Type : </font>-->

		<label class="item item-input-wrapper" style="text-align:left; ">Make: 

			<select  align="right" style="width:100%; height:30px;font-size:15px;text-align:left;background-color:#F68120;" ng-model="make">

						<option>Alpha Romeo</option>
						<option>Aston Martin</option>
						<option>Audi</option>
						<option>Cadillac</option>
						<option>Chevy</option>
						<option>Ferrari</option>
						<option>Ford</option>
						<option>Range Rover</option>
			</select></label>
			<label class="item item-input-wrapper" style="text-align:left;">
			Year: 

			<select align="right" style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;" ng-model="year" >
						<option>2016</option>
						<option>2015</option>
						<option>2014</option>
						<option>2013</option>
						<option>2012</option>
						<option>2011</option>
			</select></label>




	  <label class="item item-input">Model:
	   <input type="text" style="border:1px solid #ddd; width:100%" ng-model="admodel"></label>

	   <label class="item item-input-wrapper"> Fuel Type:
	    <select align="right"  style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;" ng-model="fuel">
			<option>Diesel</option>
			<option>Electric</option>
			<option>Gas</option>
			<option>Hybrid Electric</option>
			<option>Petrol</option>
			<option>Other</option>
        </select></label>
		<label class="item item-input-wrapper">Body Type:
		<select style="width:100%; height:30px;font-size:15px;text-align:left; background-color:#F68120;" ng-model="adbody">
			<option>Mini Bus</option>
			<option>Pick Up</option>
			<option>Panel Van</option>
			<option>Sports</option>
			<option>Saloon</option>
			<option>Others</option>

		</select></label>
	<label class="item item-input-wrapper" style="background-color:#F68120;"> Transmission:
	<select style="text-align:left;background-color:#F68120; " ng-model="transmission">
			<option style="text-align:left;background-color:#000000 ; ">Automatic</option>
			<option>Manual</option>
			<option>Semi-Auto</option>
			<option>Hybrid Electric</option>
			<option>Others</option>
	</select></label><br>
	<label class="item item-input" >Color: <input type="text" style="border:1px solid #ddd; width:100%" ng-model="color"></label>
	<label class="item item-input">Engine Size (cc):<input type="text" style="border:1px solid #ddd; width:100%" ng-model="engine"></label>
	<label class="item item-input">Mileage:<input type="text" style="border:1px solid #ddd; width:100%" ng-model="admileage"></label>

</div>
</div>




<!--	<label id="postadd-input2" class="item item-input" ng-class="{ 'has-error' : postaddform.pincode.$invalid && !postaddform.pincode.$pristine }">Postal code :
	<input type="text" name="pincode" class="item item-input" ng-model="pincode" required> </label><p ng-show="postaddform.pincode.$invalid && !postaddform.pincode.$pristine" ><font color="red"> Postal code is required.</font></p> <p><font color="grey"> We won't show your postcode on the ad.</font></p>-->
		
	

		<label id="postadd-input4" class="item item-input" ng-class="{ 'has-error' : postaddform.title.$invalid && !postaddform.title.$pristine }">Add Title :<input type="text" name="title" style="border:1px solid #ddd; width:100%;background-color:#FFFFFF;" class="item item-input"  ng-model="adtitle" required></label>
		<p ng-show="postaddform.title.$invalid && !postaddform.title.$pristine" ><font color="red"> *Title is required</font></p> 

		



		<p>Write a short description of your ad and include all of the key highlights.</p>

        <label>
		<textarea placeholder="100 characters remaining" ng-model="addescription" style="border:1px solid #ddd; width:100%"></textarea>
		</label>

		
		<!--<div>
		<a ng-click="next(category)" style="background-color:#F68120;" class="button button-full" >Next</a>


		</div>-->

		
                <button style="width:70%;font-size:15px; background-color:#F68120; box-shadow:0px 0px 2px rgba(0,0,0,.5); border:none;color:#fff;padding:5px; margin-top:20px;" class="btn" ng-click="next(category)">Next</button>
            </div>
		</form>


</ion-content>
</ion-view>