<style>
.srch-bar{
	position: relative;
}
.srch-btn{
	bottom: 0;
    position: absolute;
    right: 0;
    z-index: 9;
    width: 100px;
}
.gallery {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
</style>

<ion-view style="background-color: rgb(245, 245, 245);" id="page13" title="Search Add">
    <ion-content padding="true" class="has-header" ng-controller="searchCtrl">
 <div>   
<form name="postaddform" class="list" id="postad-form1" method="post" novalidate>
<div>  
            <label class="item item-select" id="page-select1">
   <span class="input-label">Category</span>
   <select ng-model="category">
        <option    value="All" selected="All">All</option>
        <option   value="Events">Events</option>
        <option   value="Jobs">Jobs</option>
        <option   value="Goods & Services">Goods & Services</option>
        <option   value="Properties">Properties</option>
        <option   value="Missing, Lost & Found">Missing, Lost & Found</option>
        <option   value="Motors">Motors</option>
        <option  value="Magazines, chat, blog">Magazines, chat, blog</option>
        <option   value="Others Deals">Others Deals</option>

    </select>
    </label>
	<label style="" class="item item-input srch-bar">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search Auditions " type="search" ng-model="searchAdd">
    </label>
    <div class="srch-btn">
        <input type="submit" value="Go" style="width:40%;float:right;font-size:12px; background-color:#F68120; box-shadow:0px 0px 2px rgba(0,0,0,.5); border:none;color:#fff;padding:5px; margin:10px" class="btn" ng-click="search()">
    </div>


    </div>
    </form>
   </div>
    <div ng-repeat="x in details"> 
         <div class="list card" id="page3-card22">
            <div class=" item item-image-gallery" ng-if="x.images!='[]'" >
           
                <img src=http://europa.promaticstechnologies.com/million/uploads/{{x.images.replace('[','').replace('"','').replace('"','').replace(']','').split(',')[0]}} width="32%" height="70px" margin="10px" padding="40px"  zoom-src=http://europa.promaticstechnologies.com/million/uploads/{{x.images.replace('[','').replace('"','').replace('"','').replace(']','').split(',')[0]}} zoom-view />
            </div>

            <div ng-if="x.images=='[]'">
            <div class=" item item-image-gallery">  
           
                <img src="img/no-thumb.jpg" width="32%" height="70px" margin="10px" padding="40px">
            </div> </div>         


            <ion-item class="item-avatar" id="page3-list-item10" style="">
                <img src="http://europa.promaticstechnologies.com/million/uploads/{{x.user.user_image}}">
                <h2>by {{x.user.username}}</h2>
            </ion-item>
            <div class="item item-body" id="page3-list-item-container1" style="">
                <div id="page3-null" style="margin-top:0px;color:#000000;">
                    <h2>{{x.ad_title}}
                    </h2>
                    <i> Properties</i>
                    <p>{{x.short_description}}
                </div>
            </div >
            <ion-item class="" id="page3-list-item12" style="">
                <i class="icon ion-eye" style="width:33%"></i>{{x.views}}
               <span ng-show="x.like==null"> 
                <i   class="icon ion-heart"style="width:33%" ng-click="like(x.id)"></i>{{x.likes}}</span>
                <span ng-show="x.like!=null">
                <i   class="icon ion-heart"style="width:33%;color:#F68120;" ng-click="unlike(x.like.id)"></i>{{x.likes}}</span>
                <a style="margin-left:115px;"ng-href="#/page11/{{x.id}}">Read More >></a>
            </ion-item>
        </div></div>
          
</ion-content>
</ion-view>