<ion-view view-title="{{title}} | {{category.name}}">
  <!--ion-content class="padding">
    <h4>{{category.name}}</h4>
    <p>Items will be listed here</p>
  </ion-content-->
  
            <ion-content ng-controller="FootballCtrl">
			
              <ion-tree-list items="tasks" collapsed="true"></ion-tree-list>
                    
               
            </ion-content>
            <!--ion-footer-bar  align-title="center"  class="bar-positive hide-on-keyboard-open bar-stable button-footer-bar">   
				<a class="tab-item" style="text-align:center;" href="#/">
					Select Industry
				</a> 
				<a class="tab-item" style="text-align:center;" href="#/menu/{{globalData.gInd}}/{{globalData.gReg}}">
					Main Menu
				</a> 
				<a class="tab-item" style="text-align:center;" href="#/contactus">
				Contact Us
				</a> 
           </ion-footer-bar-->
		
		
</ion-view>
