<ion-view title="comment" id="page7" style="">
  <ion-content padding="true" class="has-header" ng-controller="commentCtrl">
    <form id="comment-form2" class="list">
     
      <textarea placeholder="...add comment here..." ng-model="text"></textarea>
    </form>
    <button id="comment-button4" style="font-size:15px;border-radius:49px 49px 49px 49px; background-color:#892886" class="button button-positive button button-small" ng-click="comment()" style="">Add Comment</button>
  </ion-content>
</ion-view>