<ion-view title="forum" id="page15" style="">
<ion-content padding="true" class="has-header" ng-controller="forum12Ctrl">
<div class="spacer" style="width: 287px; height: 40px;"></div>
<ion-list id="forum2-list15">
<ion-item style="" id="forum-list-item17" class="item-avatar">
<img src="img/ben.png"/>
<h2>{{name}}</h2>
</ion-item>
<div class="list">
   <label class="item item-input item-stacked-label">
   <span class="input-label">Description</span>
   <textarea placeholder="text" style="padding:10px" ng-model="descr" height="30%">
   </label></textarea></label></div>
</ion-list>
<a class="button button-full " style="background-color:#892886" ng-click="forumadd()"><font color="white">Post</font></a>
</ion-content>
</ion-view>